body{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: white;
    background-image: linear-gradient(to right, #007500, #9f9);
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block1 { 
	width: 350px;
    height: 110px; 
     background-image: linear-gradient(to bottom right, #9f9, #093);
    
    padding: 5px; 
    border: solid 1px black; 
    border-radius: 10px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block2 {
	width: 160px;
    height: 20px;
    padding: 5px;
    background: #FFF; 
    border: solid 1px black;
    border-radius: 5px; 
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block3 {
	width: 120px;
    height: 15px;
    padding: 5px;
    background: #FFF; 
    border: solid 1px black; 
    border-radius: 5px;
    float: left;
    position: absolute;
    top: 80px;
    right: 112px;
}
h2{
	text-align: center;
}